<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <title>Nogi-bunrui</title>
    <style>
        .jumbotron{
            background-color: #7e1083;
            color: #fff;
        }
        /* .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: #7e1083;
            color: #fff;
        } */
    </style>
</head>
<body>
    <header class="jumbotron">
        <div class="container text-center">
            <h1>Uploader</h1>
            <p>分類器</p>
        </div>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="text-center text-muted py-4">
        nogi-bunrui
        <!-- <div class="container">
            <p class="m-3">Nogi-bunrui</p>
        </div> -->
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
</body>
</html>